<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-03-27T06:49:27Z</date>
	<key>WorkspacePath</key>
	<string>/Users/musthafa/Documents/Git_MMUSU4U/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/StocksMoneybase/StocksMoneybase/StocksMoneybase.xcodeproj</string>
</dict>
</plist>
