// Staging environment values
RAPIDAPI_BASE_URL = https://yh-finance.p.rapidapi.com
RAPIDAPI_HOST = yh-finance.p.rapidapi.com
RAPIDAPI_KEY_ENVVAR = RAPIDAPI_KEY

INFOPLIST_KEY_RAPIDAPI_BASE_URL = $(RAPIDAPI_BASE_URL)
INFOPLIST_KEY_RAPIDAPI_HOST = $(RAPIDAPI_HOST)
INFOPLIST_KEY_RAPIDAPI_KEY_ENVVAR = $(RAPIDAPI_KEY_ENVVAR)

